import react from "@vitejs/plugin-react";
import { defineConfig } from "vite";

export default defineConfig({
  plugins: [react()],
  server: {
    port: {{.Ports.Admin}},
    proxy: {
      "/admin": "http://localhost:{{.Ports.Gateway}}",
      "/api": "http://localhost:{{.Ports.Gateway}}",
    },
  },
});
