module {{.GoModulePath}}/backend-api

go 1.22

require (
	github.com/gin-gonic/gin v1.10.0
	github.com/redis/go-redis/v9 v9.7.0
	gorm.io/driver/mysql v1.5.7
	gorm.io/gorm v1.25.12
	{{.GoModulePath}}/pkg-platform-core v0.0.0
)
{{- if .UseCoreLib }}

replace {{.GoModulePath}}/pkg-platform-core => ../pkg-platform-core
{{- end }}
